@using PassData.Models
@model Customers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Index</h2>
@*<ul>
    @foreach (Customers c in ViewBag.data)
    {
        <li>@c.name</li>
    }
</ul>*@
